body{
	margin:0;
	background-color:navajowhite;
}

.kotak-portofolio{
	margin-bottom:300px;
}

.foto-profil{
	width:170px;
	height:170px;
	border-radius:100%;
	background-image:url("img/kasir2.jpg");
	margin-top:150px;
	margin-left:600px;
}

.judul-biodata{
	text-align:center;
}

.judul-biodata h2{
	font-family:cursive;
}

.kalimat-biodata{
	text-align: center;
}

.kalimat-biodata h4{
	font-family:cursive;
}

.judul-biodata2{
	
}

.judul-biodata2 h3{
	text-align:center;
	font-family:arial;
}

.biodata{

}

.biodata table{
	margin-left:470px;
}

table tr{
	text-align:left;
}